$BLACK: #060817;
$WHITE: #FFFFFF;
$GRAY1: #9DA6B2;
$GRAY2: #9CA3AF;
$GRAY3: #2C2D3B;
$GRAY4: #161726;
$GRAY5: #161726a3;
$BLUE1: #4651ed;
$BLUE2: #6BADD7;
$BLUE3: #0EDAD6;
$YELLOW: #F9F871;

$GRADIENT1: linear-gradient(to right, #161726a3, #2C2D3B);
$GRADIENT2: linear-gradient(306deg, rgba(70,81,237,1) 27%, rgba(107,173,215,1) 84%);