$BLACK: #060817;
$WHITE: #ffffff;
$GRAY1: #9da6b2;
$GRAY2: #9ca3af;
$GRAY3: #2c2d3b;
$GRAY4: #161726;
$GRAY5: #161726a3;
$BLUE1: #4651ed;
$BLUE2: #6badd7;
$BLUE3: #0edad6;
$YELLOW: #f9f871;

$GRADIENT1: linear-gradient(to right, #161726a3, #2c2d3b);
$GRADIENT2: linear-gradient(306deg, rgba(70, 81, 237, 100%) 27%, rgba(107, 173, 215, 100%) 84%);
