$BG_GRAY1: #191919;
$BG_GRAY2: #121212;
$BG_GRAY3: #1e1e1e;
$BG_BLACK: #000000;
$GRAY1: #313131;
$GRAY2: #222222;
$GRAY3: #666666;

$WHITE1: #ffffff;
$WHITE2: #eeeeee;
$PINK: #fe0980;
$ORANGE: #ff5144;

$GRADIENT: linear-gradient(306deg, rgb(254, 9, 128) 27%, rgb(255, 81, 68) 84%);
