@use 'src/styles/constants/colors';

.form {
  display: flex;
  width: 90%;
  margin-left: 20px;

  .input {
    flex: 9 1 0;
    padding: 10px 0 10px 20px;
    color: colors.$WHITE;
    background-color: colors.$GRAY3;
    border-radius: 10px;
  }

  .button {
    flex: 1 1 0;
    padding: 10px 0;

    svg {
      fill: colors.$BLUE2;
    }
  }
}
