@use '../../styles/constants/colors';

.form {
    width: 90%;
    margin-left: 20px;
    display: flex;
    .input {
        padding: 10px 0 10px 20px;
        border-radius: 10px;
        flex: 9 1 0;
        color: colors.$WHITE;
        background-color: colors.$GRAY3;
    }
    .button {
        flex: 1 1 0;
        padding: 10px 0;
        svg {
            fill : colors.$BLUE2;
        }
    }
}