@use '../../styles/constants/colors';

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  > h1 {
    font-size: 48px;
    font-weight: 700;
    color: colors.$BLUE1;
  }

  > p {
    margin-top: 10px;
    font-size: 20px;
    color: colors.$GRAY3;
  }
}
