@use '../../styles/constants/colors';
@use '/src/styles/mixins/responsive';

.movie {
    flex: 1 0 150px;
    width: 90%;
    max-height: 150px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 25px;
    display: flex;
    background: linear-gradient(to right, colors.$GRAY4, colors.$GRAY3);
    cursor: pointer;
    .imgContainer {
        flex: 1 1 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            max-width: 100px;
            height: 100%;
        }
        .noPoster {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            > p {
                padding-top: 10px;
                color: colors.$GRAY1;
            }
        }
    }
    .detailsContainer {
        flex: 2 1 0;
        padding: 0 10px;
        .title {
            font-size: 18px;
            line-height: 20px;
            height: 70%;
            display: flex;
            align-items: center;
            color: colors.$WHITE;
        }
        .year {
            padding-bottom: 5px;
            color: colors.$GRAY1;
        }
        .type {
            color: colors.$GRAY2;
        }
    }
    .star {
        margin-top: 10px;
    }
}

.buttons {
    flex: 1 0 150px;
    width: 90%;
    max-height: 150px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$GRAY5;
    .button {
        font-size: 14px;
        width: 130px;
        padding: 10px 20px;
        border-radius: 10px;
        color: colors.$WHITE;
        background: colors.$GRADIENT;
        + .button {
            margin-left: 20px;
        }
    }
}