@use './styles/mixins/responsive';

/* stylelint-disable */
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: responsive.getMinBreakpoint(M);
  height: 100vh;
  min-height: responsive.getMinBreakpoint(M);
  background-color: #9ca3af;
}
