@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';

/* stylelint-disable */
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: responsive.getMinBreakpoint(M);
  height: 100vh;
  background-color: colors.$BG_GRAY1;
}
